@charset "UTF-8";

.notice {
	margin-left: 20px;
}

form {
	margin-left: 20px;
}

.textnone {
	text-decoration: none;
	margin-left: 20px;
	float: right;
	color: black;
}

#insertnotice {
	text-align: right;
}